* {
    transform: translateZ(0);
    backface-visibility: hidden;
}

.accordion {
    margin-top: 1.5rem;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 10px 20px 0 rgb(50 60 80 / 10%);

    .accordion__item {
        padding: 1.25rem;

        &:not(:last-child):before {
            position: absolute;
            right: 1.25rem;
            bottom: 0;
            left: 1.25rem;
            height: 1px;
            background-color: rgba(25, 39, 67, 0.1);
            content: "";
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        .accordion__header {
            .accordion__header--trigger {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                cursor: pointer;

                .accordion__title {
                    font-size: 1rem;
                    font-weight: 700;
                    line-height: 24px;
                    margin-right: 0.5rem;
                }

                .accordion__icon {
                    width: 18px;
                    transition: all 0.35s;
                }

                &.accordion--trigger-active {
                    .accordion__icon.chevron-down {
                        transform: rotate(180deg);
                        width: 18px;
                    }
                }
            }
        }

        .accordion__body {
            .collapse {
                transition: all var(--vc-auto-duration) cubic-bezier(0.3, 0, 0.6, 1);
                .accordion__content {
                    padding-top: 0.5rem;
                    padding-right: 1.5rem;
                    font-size: 0.9rem;
                    overflow: hidden;
                }
            }
            
        }
    }
}
