@use "../../abstracts/" as *;

:deep(.modal-content) {
    width: 90%;
    padding: 0;

    @include media-breakpoint-up(sm) {
        width: 70%;
    }

    @include media-breakpoint-up(md) {
        width: 60%;
    }

    @include media-breakpoint-up(lg) {
        width: 40%;
    }

    @include media-breakpoint-up(xl) {
        width: 30%;
    }

    .modal__body {
        @include flex-container($align-items: center, $direction: column);
        padding: 0 24px 32px;

        .modal__icon {
            @include circle(104px, $bg-color: color(smokey-blue-dark, primary));
            margin-bottom: 1rem;
        }

        .modal__title {
            @include font(color(emerald, tertiary), px-to-rem(22), 700, px-to-rem(27), center);
            margin-bottom: 1rem;
        }

        .modal__text {
            text-align: center;
            font-size: px-to-rem(15);
            line-height: px-to-rem(23);
            margin-bottom: 1rem;
        }

        .modal__giftcard-check {

            @include flex-container(center, center, $direction: column, $gap: 1rem);
            width: 100%;

            @include media-breakpoint-up(sm) {
                .giftcard-check__btn {
                    width: 50%;
                }

            }

            @include media-breakpoint-up(lg) {
                @include flex-container($direction: row, $gap: 0);

                .giftcard-check__input {
                    &.custom-input__wrapper {
                        >.custom-input {
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                        }
                    }

                    // width: 70%;
                }

                // background-color: red;

                .giftcard-check__btn::before {
                    border-top-left-radius: 0 !important;
                    border-bottom-left-radius: 0 !important;
                    // width: 30%;
                }
            }

        }
    }
}
